<?xml version="1.0"?>
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >
  <add name="CourseAllocation" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"   connectionString="" providerName="System.Data.SqlClient" />
  <add name="elmah-sqlserver" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"   connectionString="" providerName="System.Data.SqlClient" />
</connectionStrings>
